version: 2
updates:
  - package-ecosystem: uv
    directory: /
    groups:
      python:
        patterns:
          - "*"
    schedule:
      interval: weekly
  - package-ecosystem: github-actions
    directory: /
    groups:
      github-actions:
        patterns:
          - "*"
    schedule:
      interval: weekly
