# Project-specific ignores
.python-version
.env
/data/
.vscode/

# pywikibot
throttle.ctrl
apicache/

# Python
.venv/
__pycache__/
.hypothesis/
.pytest_cache/
.ruff_cache/
cov.xml

# Node
node_modules/
